
<h3 class="mb-3"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
<div class="resume-item d-flex flex-column flex-md-row mb-3">

  {{with  .Params.image }}
    <div class="resume-content" style="width:200px;">
      <img src="{{ . }}" style="max-height:150px;max-width:150px;"/>
    </div>
  {{ end }}
  <div class="resume-date">
    {{$first := true}}
    <p>{{ range $i, $time := .Params.Period }}{{if $i}} – {{end}}{{ dateFormat "Jan 2006" $time }}{{ end }}</p>
    <p>{{ .Description | safeHTML }}<p>
    <p class><a href="{{.Permalink}}">Read more..</a></p>
  </div>
</div>
<div>{{ partial "techtags" . }}</div>
